<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Queries</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <div>
    <a href="/">Home</a>

    •
    
    <a href="/queries">Queries</a>
  </div>

  <h1 th:text="${query.name}"></h1>

  <div>
    <a href="/queries/create">Create</a>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Template</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td th:text="${query.id}"></td>
        <td th:text="${query.name}"></td>
        <td th:text="${query.template}"></td>
        <td>
          <a th:href="${query.getRoute()}">Execute</a>
          
          &nbsp;

          <a th:href="@{'/queries/' + ${query.id} + '/update'}">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Query String</h4>

  <pre th:text="${query.queryString}"></pre>
</body>

</html>