<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="../fragments/head.html"></th:block>
  <title>
    <th:block th:text="${query.name}"></th:block> • Queries • TEQ LIP
  </title>
</head>

<body>
  <th:block th:replace="../fragments/navigation.html"></th:block>

  <style>
    .query--header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #c8d6e5;
    }
  </style>

  <div class="breadcrumbs">
    <a class="fal fa-chevron-left" href="/queries"></a>

    <a href="/queries">Queries</a>
  </div>

  <main class="container">
    <header class="query--header">
      <h1 th:text="${query.name}"></h1>

      <div style="flex-grow: 1;"></div>

      <a class="btn btn-primary m-left-3" th:href="@{'/queries/' + ${query.id} + '/update'}">
        Edit
      </a>
    </header>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>iCare Template</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td th:text="${query.name}"></td>
            <td th:text="${query.template}"></td>
            <td style="text-align: right;">
              <a class="btn btn-secondary btn-sm m-left-3" th:href="${query.getRoute()}">
                Execute
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>