<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="../fragments/head.html"></th:block>
  <title><th:block th:text="${query.name}"></th:block> • Queries • TEQ LIP</title>
</head>
<body>
  <th:block th:replace="../fragments/navigation.html"></th:block>

  <style>
    .query--header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #c8d6e5;
    }
  </style>

  <div class="breadcrumbs">
    <a
      class="fal fa-chevron-left"
      href="/queries"
    ></a>

    <a href="/queries">Queries</a>
  </div>

  <main class="container">
    <header class="query--header">
      <h1 th:text="${query.name}"></h1>
  
      <div style="flex-grow: 1;"></div>

      <button
        class="btn btn-secondary m-left-3"
        type="button"
        th:onclick="@{'deleteQuery(' + ${query.id} + ')'}"
      >
          Delete
      </button>
      
      <a
        class="btn btn-primary m-left-3"
        th:href="${query.getRoute()}"
      >
        Execute
      </a>
      <a
        class="btn btn-primary m-left-3"
        th:href="@{'/queries/' + ${query.id} + '/update'}"
      >
        Edit
      </a>
    </header>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>iCare Template</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td th:text="${query.name}"></td>
            <td th:text="${query.template}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

  <script type="text/javascript">
      async function deleteQuery(id) {
          const yes = confirm("Are you sure you want to delete the query? You cannot undo this action.");
          if (yes) {
              // Delete the query
              await fetch(`/queries/${id}`, { method: "DELETE" });
              // Navigate the user to /queries
              window.location = '/queries';
          }
      }
  </script>
</body>

</html>