<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create • Query</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <a href="/">Home</a>

        •
    
        <a href="/queries">Queries</a>
    </div>
    
    <form
        th:action="${isCreate} ? @{/queries} : @{'/queries/' + ${query.id}}"
        th:object="${query}"
        method="post"
    >
        <h1 th:if="${isCreate}">Create Query</h1>
        <h1 th:if="${!isCreate}" th:text="${query.name}"></h1>

    	<label>
            Query Name*
            <br />
            <input type="text" th:field="*{name}" required />
        </label>

        <br />

        <label>
            Template*
            <br />
            <select th:field="*{template}" required>
                <option value="NARs">NARs</option>
                <option value="clientProfile">Client Profiles</option>
            </select>
        </label>

        <br />

        <label>
            Query*
            <br />
            <textarea th:field="*{queryString}" required>
            </textarea>
        </label>

        <br />

        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </form>

</body>
</html>