<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${templateName}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
  <canvas id="myChart" width="16" height="10"></canvas>
  <script th:inline="javascript">
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: /*[[${type}]]*/,
      data: {
        labels: /*[[${labels}]]*/,
        datasets: [
          /*<![CDATA[*/
          /*[# th:each="index : ${#numbers.sequence(0, #arrays.length(data)-1)}"]*/
          {
            label: /*[[${sourceLabels[index]}]]*/,
            data: /*[[${data[index]}]]*/,
            backgroundColor: [
              '#ff0028',
              '#377eb8',
              '#66a51d',
              '#984ea3',
              '#01d1d5',
              '#ff7f00',
              '#af8d00',
              '#8080cd',
              '#b3e900',
              '#c42e60',
              '#a55628',
              '#f781bf',
              '#8dd2c7',
              '#beb9da',
              '#fb8072',
              '#80b0d2',
            ],
          },
          /*[/]*/
          /*]]>*/
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
</body>

</html>