<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${templateName}"></title>
  <th:block th:replace="../fragments/head.html"></th:block>
</head>

<body>
  <th:block th:replace="../fragments/navigation.html"></th:block>
  
  <div class="breadcrumbs">
    &nbsp;
  </div>

  <div class="container">
    <span>
      <a class="fal fa-chevron-left" href="/templates"></a>

      <a href="/templates">Data</a>
    </span>
    
    <h1 th:text="${templateName}"></h1>

    <div class="table-container">
      <table th:each="rows : ${groupsOfRows}">
        <thead>
          <tr>
            <th th:each="friendlyName : ${friendlyNames}">
              <span th:text="${friendlyName}"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="row : ${rows}">
            <td th:each="attribute : ${attributes}">
              <span th:text="${row[__${attribute.entityIndex}__].__${attribute.name}__}"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <span th:text="${select}"></span>

  </div>
</body>

</html>