<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${templateFriendlyName}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <div>
    <a href="/">Home</a>
    &bull;
    <a href="/templates">Templates</a>
  </div>

  <h1 th:text="${templateFriendlyName}"></h1>

  <table th:each="templates : ${templateGroups}">
    <thead>
      <tr>
        <th th:each="friendlyName : ${friendlyNames}">
          <span th:text="${friendlyName}"></span>
          <form action="#" th:action="@{/templates/__${templateModelName}__?sort=assessmentLanguageId}" th:object="${friendlyName}" method="post">
            <input type="submit" value="Sort">
          </form>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="template : ${templates}">
        <td th:each="attributeName : ${attributeNames}">
          <span th:text="${template.__${attributeName}__}"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <span th:text="${select}"></span>
</body>

</html>