<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Templates</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <div>
    <a href="/">Home</a>
  </div>

  <h1>Templates</h1>

  <table>
    <thead>
      <tr>
        <th>Assessment Start Date</th>
        <th>Assessment Language</th>
        <th>Assessment Referral</th>
	<th>Assessment End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="template : ${templates}">
        <td th:text="${template.assessmentStartDt}"></td>
        <td th:text="${template.assessmentLanguageId}"></td>
        <td th:text="${template.assessmentReferralId}"></td>
        <td th:text="${template.assessmentCompletedDt}"></td>
      </tr>
    </tbody>
  </table>
</body>

</html>