<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Templates</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <div>
    <a href="/">Home</a>
  </div>

  <h1>Templates</h1>

  <ul>
    <li><a href="/templates/NARs">NARs</a></li>
    <li><a href="/templates/clientProfile">Client Profiles</a></li>
  </ul>

  <div>
    <p data-th-utext="${#strings.replace(#strings.escapeXml(file),'&#10;','&lt;br&gt;')}"></p>
  </div>
</body>

</html>