<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Templates</title>
  <th:block th:replace="../fragments/head.html"></th:block>
</head>

<body>
  <style>
    .templates-header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c8d6e5;
    }
    .template-btn{
      color:dodgerblue;
      background-color: #ffffff;
      transition-duration: 0.2s;
      text-align: center;
      margin-right: 1%;
    }
    .template-btn:hover{
      color:#ffffff;
      background-color: dodgerblue;
    }
    .btn-list{
      padding-top: 3%;
    }
  </style>

  <th:block th:replace="../fragments/navigation.html"></th:block>
  <div class="breadcrumbs">
      &nbsp;
  </div>

  <div class="container">
  <header class="templates-header">
    <h1>Templates</h1>
  </header>

  <div class="btn-list">
    <a class="btn template-btn" href="/templates/NARs">NARs</a>
    <a class="btn template-btn" href="/templates/clientProfile">Client Profiles</a>
    <!-- Add Rest of templates -->
  </div>

  <div>
    <p data-th-utext="${#strings.replace(#strings.escapeXml(file),'&#10;','&lt;br&gt;')}"></p>
  </div>

</div>
</body>

</html>