<meta charset="UTF-8">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<style>
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #222f3e;
    font-size: 16px;
    margin: 0;
    font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    color: #2e86de;
}

a:hover {
    color: #1e6dbb;
    text-decoration: underline;
}

a.fas,
a.far,
a.fal,
a.fas:hover,
a.far:hover,
a.fal:hover {
    text-decoration: none;
}

/* Container */

.container {
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Table */

.table-container {
    overflow-x: scroll;
    margin: 30px 0;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

thead {
    border: #c8d6e5 thin solid;
    background: #ebf0f5;
    font-size: 0.7rem;
    text-transform: uppercase;
}

thead th {
    font-weight: bold;
    padding: 0.62rem 1rem;
    text-align: left;
}

tbody {
    border: #c8d6e5 thin solid;
}

tbody tr {
    border-bottom: #c8d6e5 thin solid;
}

tbody tr:hover {
    background: #ebf0f5;
}

tbody td {
    padding: 0.62rem 1rem;
}

/* Input */

/* Input: Button */

.btn {
    border-radius: .1875rem;
    border-style: solid;
    border-width: 1px;
    text-shadow: 0 0 1px transparent;
    font-weight: normal;
    text-align: center;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    font-size: .875rem;
    line-height: .875rem;
    padding: .75rem 1.5rem;
}

.btn:hover {
    text-decoration: none;
}

.btn-sm {
    font-size: .75rem;
    line-height: .75rem;
    padding: .5625rem 1rem;
}

.btn-primary {
    background-color: #ff9f43;
    border-color: #ff9f43;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #ffac5d;
    color: #ffffff;
}

.btn-secondary {
    background-color: #eaf0f6;
    border-color: #cbd6e2;
    color: #506e91;
}

.btn-secondary:hover {
    background-color: #f0f3f9;
    color: #506e91;
}

.btn-disabled,
.btn-disabled:hover {
    background-color: #eaf0f6;
    border-color: #eaf0f6;
    box-shadow: none;
    color: #b0c1d4;
    cursor: not-allowed;
}

/* Input: Text */



/* Helpers */

.breadcrumbs {
    padding: 1.25rem 0.75rem;
}

/* Helpers: Margin */

.m-left-3 {
    margin-left: 0.6rem;
}
</style>
