<meta charset="UTF-8">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<style>
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #222f3e;
    font-size: 16px;
    margin: 0;
    display: flex;
    font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.container {
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
</style>
