<style>
        label{
            width:75%;
        }
        input{
            transition: all 0.25s ease-in-out;
        }
        input:focus{
            box-shadow: 0 0 7px #0abde3;
        }
    
        .spaced{
          padding-top:3%;
        }
        .formBtn{
            display:inline-block;
            padding:0.3em 1.2em;
            margin:0 0.1em 0.1em 0;
            border:0.16em solid rgba(255,255,255,0);
            border-radius:1em;
            box-sizing: border-box;
            text-decoration:none;
            font-family:'Roboto',sans-serif;
            font-weight:300;
            color:white;
            background-color:#54a0ff;
            text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
            text-align:center;
            transition: all 0.2s;
        }
        .formBtn:hover{
            border-color: #341f97;
        }
    
        .delBtn{
            color: white;
            background-color:#ee5253;
            border-color:#ee5253;
        }
        .delBtn:hover{
            background-color: #fe6263;
        }
        </style>