<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create • Organization</title>
    <th:block th:replace="../fragments/head.html"></th:block>
</head>
<body>
    <th:block th:replace="../fragments/partnerStyles.html"></th:block>

    <th:block th:replace="../fragments/navigation.html"></th:block>

<div class="breadcrumbs">
    &nbsp;
</div>

    <div class="container">
    <a href="/organizations">Back</a>
    <form action="#" th:action="@{/organizations}" th:object="${organization}" method="post">
        <h1>Create Organization</h1>
    	<label>
            Organization Name*
            <br />
            <input type="text" th:field="*{name}" required />
        </label>
        <br />
        <label>
            Country*
            <br />
            <input type="text" th:field="*{country}" required />
        </label>
        <br />
        <label>
            Province
            <br />
            <input type="text" th:field="*{administrativeArea}" />
        </label>
        <br />
        <label>
            City
            <br />
            <input type="text" th:field="*{locality}" />
        </label>
        <br />
        <label>
            Postal Code
            <br />
            <input type="text" th:field="*{postalCode}" />
        </label>
        <br />
        <label>
            Street Address
            <br />
            <input type="text" th:field="*{thoroughfare}" />
        </label>
        <br />
        <label>
            Apartment
            <br />
            <input type="text" th:field="*{premise}" />
        </label>
        <br />
        <input class="formBtn" type="submit" value="Submit" />
        <input class="formBtn" type="reset" value="Reset" />
    </form>
</div>
<div class="spaced"></div>

</body>
</html>