<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Organizations</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <h1>Organizations</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Administrative Area</th>
        <th>Locality</th>
        <th>Postal Code</th>
        <th>Thoroughfare</th>
        <th>Premise</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <a th:href="@{'/organizations/' + ${organization.id}}" th:text="${organization.id}">
          </a>
        </td>

        <td th:text="${organization.name}">Name here</td>
        <td th:text="${organization.country}">Country here</td>
        <td th:text="${organization.administrativeArea}">Area here</td>
        <td th:text="${organization.locality}">Locality here</td>
        <td th:text="${organization.postalCode}">Postal code here</td>
        <td th:text="${organization.thoroughfare}">Thoroughfare here</td>
        <td th:text="${organization.premise}">Premise here</td>
      </tr>
    </tbody>
  </table>

  <p>
    <a href="../home" th:href="@{/}">Return to home</a>
  </p>

  <button type="button" onclick="deleteOrganization(1)">
  Delete
  </button>

  <script>
    async function deleteOrganization(id) {
    const yes = confirm("Are you sure you want to delete the organization? You cannot undo this action.");
    if (yes) {
      // Delete the organization
      await fetch(`/organizations/${id}`, { method: "DELETE" });
      // Navigate the user to /organizations
      window.location = '/organizations';
      }
    }
  </script>

</body>

</html>
