<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Organization</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Create New Organization</h1>
    <form action="#" th:action="@{/organizations/new}" th:object="${organization}" method="post">
    	<p>Organization Name: <input type="text" th:field="*{name}" /></p>
        <p>Country: <input type="text" th:field="*{country}" /></p>
        <p>Province: <input type="text" th:field="*{administrativeArea}" /></p>
        <p>City: <input type="text" th:field="*{locality}" /></p>
        <p>Locality?: <input type="text" th:field="*{locality}" /></p>
        <p>Postal Code: <input type="text" th:field="*{postalCode}" /></p>
        <p>Street Address: <input type="text" th:field="*{thoroughfare}" /></p>
        <p>Appartment: <input type="text" th:field="*{premise}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>