<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Organization</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{'/organizations/' + ${organization.id}}" th:object="${organization}" method="post">
        <h1>Update Organization</h1>
    	<label>
            Organization Name*
            <br />
            <input type="text" th:field="*{name}" required />
        </label>
        <br />
        <label>
            Country*
            <br />
            <input type="text" th:field="*{country}" required />
        </label>
        <br />
        <label>
            Province
            <br />
            <input type="text" th:field="*{administrativeArea}" />
        </label>
        <br />
        <label>
            City
            <br />
            <input type="text" th:field="*{locality}" />
        </label>
        <br />
        <label>
            Postal Code
            <br />
            <input type="text" th:field="*{postalCode}" />
        </label>
        <br />
        <label>
            Street Address
            <br />
            <input type="text" th:field="*{thoroughfare}" />
        </label>
        <br />
        <label>
            Apartment
            <br />
            <input type="text" th:field="*{premise}" />
        </label>
        <br />
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </form>
</body>
</html>